<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博弈斋</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.4.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='laya.core.js') }}"></script>
    <script src="{{ url_for('static', filename='laya.ui.js') }}"></script>
</head>
<body>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
	<script src="{{ url_for('static', filename='gameIndex.js') }}"></script>
	<script src="{{ url_for('static', filename='go1.js') }}"></script>
</body>
</html>